.social-media {
	display: flex;
	justify-content: center;
}

.social-media .icon-awesome {
	margin: 0 5px;
}

.icon-awesome {
	font-size: 1.5rem;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #FFF;
}