/* START DEFAULT OPTIONS */

.component-name {
    position: relative;
    display: inline;
    font-size: 1rem;
    border-width: 1px;
}

.component-name, 
.component-name * {
    cursor: text;
    /*cursor: pointer;
    cursor: auto;*/
}

.component-name:hover:not(.disabled), .component-name.focus {
    border-width: 2px;
}

/* END DEFAULT OPTIONS */

/* START DISABLED */

.component-name.disabled,
.component-name.disabled * {
    cursor: default;
}

/* END DISABLED */

/*	START VARIANTS	*/

/*	END VARIANTS	*/