/* -------- START DEFAULT OPTIONS --------*/

.component-name.primary {
    background-color: var(--primary-backgroundColor);
}

/* -------- END DEFAULT OPTIONS -------- */

/* -------- START DISABLED --------*/

.component-name.disabled {
    opacity: var(--disabledOpacityValue);
}

/* -------- END DISABLED -------- */

/* -------- START VARIANTS --------*/

/* -------- END VARIANTS -------- */

/* -------- START STATUS --------*/

/* -------- END STATUS -------- */