/* START DEFAULT OPTIONS */

.select-field {
    position: relative;
    display: inline;
    font-size: 1rem;
    border-width: 1px;
}

.select-field, 
.select-field * {
    cursor: text;
    /*cursor: pointer;
    cursor: auto;*/
}
.select-field .chevron-icon {
    font-size: var(--chevron-icon-size);
}

.select-field > .list {
    position: absolute;
    width: 100%;
    background-color:var(--primary-filledColor);
    z-index: 9999;
}

.select-field.dropdow-visible > .list{
    visibility: visible;
}

/* END DEFAULT OPTIONS */

/* START HOVER */

/* END HOVER */

/* START DISABLED */

.select-field.disabled,
.select-field.disabled * {
    cursor: default;
}

/* END DISABLED */

/*	START VARIANTS	*/

/*	END VARIANTS	*/