/* START DEFAULT OPTIONS */
:root{
    --chevron-icon-size:1rem
}

.select-field .chevron-icon {
    width: var(--chevron-icon-size);
}

.select-field > .list {
    width: 100%;
}

.select-field .text-field input{
    width: calc(100% - var(--chevron-icon-size));
}

.select-field > .list {
    padding: 10px 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.select-field > .list > .item {
    padding: 5px 10px;
}


/* END DEFAULT OPTIONS */

/* START VARIANTS */

/* END VARIANTS */

