/* -------- START DEFAULT OPTIONS --------*/
.select-field > .list {
    background-color:var(--primary-filledColor);
}

.select-field > .list > .item:hover {
    background-color: var(--primary-hoverFilledColor);
}

/* -------- END DEFAULT OPTIONS -------- */

/* -------- START DISABLED --------*/


/* -------- END DISABLED -------- */

/* -------- START VARIANTS --------*/

/* -------- END VARIANTS -------- */

/* -------- START STATUS --------*/

/* -------- END STATUS -------- */