/* START DEFAULT OPTIONS */

.check-field {
    display: inline-flex;
    position: relative;
    font-size: 1rem;
    align-items: center;
}

.check-field,
.check-field * {
    cursor: pointer;
}

.check-field input {
    position: absolute;
    visibility: collapse;
}

.check-field span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.check-field .icon-radio i {
    font-size: 0.7rem;
}

.check-field .checkmark {
    visibility: collapse;
}

.check-field.checked .checkmark {
    visibility: visible;
}

.check-field:hover:not(.disabled) {
    font-weight: 600;
}


/* END DEFAULT OPTIONS */


/* START DISABLED */

.check-field.disabled,
.check-field.disabled * {
    cursor: default;
}


/* END DISABLED */


/* -------- START VARIANTS --------*/

.check-field.check-field-standard span,
.check-field.check-field-outlined span {
    border-style: solid;
}


/* -------- END VARIANTS -------- */


/*	START ORIENTATION	*/

.check-field.right-left-orientation {
    flex-direction: row-reverse;
}

.check-field.right-left-orientation label {
    margin-right: 5px;
}

.check-field.left-right-orientation label {
    margin-left: 5px;
}


/*	END ORIENTATION	*/