    /* START DEFAULT OPTIONS */
    
     :root {
        --lineHeight: 1.5em;
    }
    
    .check-field span {
        height: var(--lineHeight);
        width: var(--lineHeight);
        border-width: 1px;
    }
    /* START TYPE */
    
    .check-field .icon-checkbox {
        border-radius: 7px;
    }
    
    .check-field .icon-radio {
        border-radius: 50%;
    }
    /* END TYPE */
    
    .check-field:hover:not(.disabled) span {
        border-width: 2px;
    }
    /* END DEFAULT OPTIONS */
    /* START VARIANTS */
    /* END VARIANTS */