/* -------- START DEFAULT OPTIONS --------*/

.check-field.primary span {
    background-color: var(--primary-backgroundColor);
    color: var(--primary-inputColor);
}

.check-field.primary.checked span {
    background-color: var(--primary-focusColor);
}


/* -------- END DEFAULT OPTIONS -------- */


/* -------- START DISABLED --------*/

.check-field.disabled {
    opacity: var(--disabledOpacityValue);
}


/* -------- END DISABLED -------- */


/* -------- START VARIANTS --------*/


/* -------- END VARIANTS -------- */

.check-field.primary.check-field-filled:not(.checked) span {
    background-color: var(--primary-filledColor);
}

.check-field.primary.check-field-filled:hover:not(.checked) span {
    background-color: var(--primary-hoverFilledColor);
}


/* -------- START STATUS --------*/


/* -------- END STATUS -------- */