.login-content {
	margin-top: 64px;
	max-width: 444px;
}

.login-content > .header{
	font-size: 2em;	
	text-align: center;
}

.login-content > .form > .message-error {
	color: #cc3300;
}

.login-content > *:not(:first-child),
.login-content > .form > *:not(:first-child) {
	margin-top: 16px;
}