/**/
.text-field {
	display: inline;	
	font-size: 0.775rem;	
	border-width: 1px;
}

.text-field,
.text-field * {
	cursor: text;
}

.text-field:hover:not(.disabled),
.text-field.focus{
	border-width: 2px;
}

.text-field legend{
	visibility: hidden;
	display: block;
	letter-spacing: 1px;
}

.text-field input {
	font-size: 1rem;
	display: inline;
}
.text-field input::placeholder{
	font-weight: 600;
}

.text-field.focus input::placeholder{
	visibility: collapse;	
}

.text-field.focus legend,
.text-field.filled legend{
	visibility: visible;
}

/* START DISABLED */
.text-field.disabled,
.text-field.disabled * {
	cursor: default;
}
/* END DISABLED */



/*	START VARIANTS	*/
.text-field.text-field-filled,
.text-field.text-field-standard{
	border-bottom-style: solid;
}

.text-field.text-field-filled legend,
.text-field.text-field-standard legend {
	padding-top: 11px;
}

.text-field.text-field-outlined{
	border-style: solid;
	border-radius: 7px;
}

.text-field.text-field-outlined.focus legend,
.text-field.text-field-outlined.filled legend
{
	margin: 0 -5px;
	padding: 0 5px;
}


/*	END VARIANTS	*/




