.text-field {
	padding: 7px 10px 12px 10px;
}
.text-field.focus legend,
.text-field.filled legend{
    max-width: 1144px;
}

.text-field legend{
	max-width: 0px;
	height: 20px;
}

.text-field input {
	min-width: 150px;
	width: 100%;
}

/* START VARIANTS */

.text-field.text-field-standard{
    padding: 0px;
}

.text-field.text-field-standard.focus legend,
.text-field.text-field-standard.filled legend{
	margin-left: -5px
}

.text-field.text-field-standard.focus legend,
.text-field.text-field-standard.filled legend{
	padding: 0 5px;	
}

/* END VARIANTS */

