.text-field.primary {
    background: var(--primary-backgroundColor);
    border-color: var(--primary-inputColor);
}

.text-field legend, .text-field input {
    background: transparent;
}

.text-field.primary input {
    color: var(--inputColor);
}

.text-field.primary legend {
    color: var(--primary-labelColor);
}

.text-field.primary input::placeholder, .text-field.primary.filled legend {
    color: var(--primary-labelColor);
}

.text-field.primary.focus {
    border-color: var(--primary-focusColor);
}

.text-field.primary.focus legend {
    color: var(--primary-focusColor);
}

/* START DISABLED*/

.text-field.primary.disabled {
    opacity: var(--disabledOpacityValue);
}

/* END DISABLED*/

/* START VARIANTS */

/*FILLED*/

.text-field.primary.text-field-filled {
    background: var(--primary-filledColor);
}

.text-field.primary.text-field-filled:hover:not(.disabled) {
    background: var(--primary-hoverFilledColor);
}

/* END VARIANTS */

/* --------- START STATUS ------------------ */

/* START INFO */

.text-field.info {
    border-color: var(--infoColor);
}

.text-field.info input, .text-field.info input::placeholder, .text-field.info.filled legend, .text-field.info legend, .text-field.info.focus legend {
    color: var(--infoColor);
}

/* END INFO */

/* START SUCCESS */

.text-field.success {
    border-color: var(--successColor);
}

.text-field.success input, .text-field.success input::placeholder, .text-field.success.filled legend, .text-field.success legend, .text-field.success.focus legend {
    color: var(--successColor);
}

/* END SUCCESS */

/* START ERROR */

.text-field.error {
    border-color: var(--errorColor);
}

.text-field.error input, .text-field.error input::placeholder, .text-field.error.filled legend, .text-field.error legend, .text-field.error.focus legend {
    color: var(--errorColor);
}

/* END ERROR */

/* START WARNING */

.text-field.warning {
    border-color: var(--warningColor);
}

.text-field.warning input, .text-field.warning input::placeholder, .text-field.warning.filled legend, .text-field.warning legend, .text-field.warning.focus legend {
    color: var(--warningColor);
}

/* END WARNING */

/* ------------ END STATUS  ----------------*/